.phrases-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #e1ffa4 0%, #b5ffff 100%);
}
p {
  text-align: center;
  width: 90%;
  font-weight: 500;
  /* text-shadow: 2px 2px rgb(81, 80, 80); */
}
.phrases-autor {
  font-size: 32px;
}
.phrases-frase {
  font-size: 22px;
}
.phrases-btn {
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #ffcf55;
  padding: 20px;
  color: #000;
  cursor: pointer;
}
